@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  body {
    color: rgb(var(--foreground-rgb));
    /* background-image: url('https://storage.googleapis.com/visual_chat_results/tools/mFYa8nBRfthB9KmrNrZIOG1P6kr2/79457466.jpg'); */
    /* background-image: url('https://storage.googleapis.com/visual_chat_results/tools/mFYa8nBRfthB9KmrNrZIOG1P6kr2/46990228.jpg'); */
    /* background-image: url('https://storage.googleapis.com/visual_chat_results/tools/mFYa8nBRfthB9KmrNrZIOG1P6kr2/93148195.jpg'); */
    /* background-image: url('https://storage.googleapis.com/visual_chat_results/tools/mFYa8nBRfthB9KmrNrZIOG1P6kr2/90709244.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e9eeee;
  }
  
}